<div class="container my-4">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title text-center">{{post.title}}</h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{post.content}}</p>
    </div>
    <div class="card-footer">
      <p><strong>Created by: </strong>{{post.user.username}}
        <strong>Created on: </strong>{{format_date post.createdAt}}</p>
    </div>
  </div>
</div>

<div class="container my-4">
  <div class="row">

    <!-- Comments Column -->
    <div class="col-md-6">
      {{#each post.comments}}
        <h3 class="text-center">Comments</h3>
        <div class="card mb-4">
          <div class="card-header">
            <h3 class="card-title">{{this.user.username}}</h3>
          </div>
          <div class="card-body">
            <p class="card-text">{{this.comment}}</p>
          </div>
          <div class="card-footer">
            <p><strong>Created on: </strong>{{format_date createdAt}}</p>
          </div>
        </div>
      {{/each}}
    </div>

    <!-- Comment Form Column -->
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">
          <h3>Leave your comment here</h3>
        </div>
        <div class="card-body">
          <textarea
            id="comment-content"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="2"
          ></textarea>
          <button class="btn btn-primary mt-4" id="submit-comment">Submit</button>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="/js/comments.js"></script>